{% extends "admin/base.html" %}

{% block title %}Sitio de Administración | Administración PhotoGram {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Administración PhotoGram</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
