{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'photos/style.css' %}">
{% if lista_ultimas_fotos %}
<ul>
{% for foto in lista_ultimas_fotos %}
    <li><a href="{% url 'photos:foto' foto.album foto.id %}">{{ foto.descripcion }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No has subido nuevas fotos.</p>
{% endif %}